@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

/* Global Styles */

:root {
  --primary-color: #6D6875;
  --secondary-color: #B5838D;
  --medium-color: #E5989B;
  --dark-color: #404c91;
  --light-color: #FFCDB2;
  --bg-color: #FFB4A2;
  --danger-color: #3b3b3b;
  --info-color: #feea88;
  --success-color: #9fedd7;
  --badge-color: #f18484;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.2rem;
}

nav h1 {
  font-weight: 400;
}

nav {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  align-items: center;
  padding: 1rem;
  /* font-weight: 300; */
  opacity: 0.9;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  line-height: 1.5em;
  word-spacing: 0.1em;
}

nav ul {
  display: flex;
}

.bg-badge {
  display: inline-block;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  letter-spacing: 0.02em;
}

nav a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.container {
  padding: 0 1rem;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.margin-1 {
  margin: 1rem 0;
}

.padding-1 {
  padding: 0.5rem;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
/* 
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; 
}
*/

.contact-card {
  /* flex: 1 1 100%; */
  display: flex;
  align-items: center;
  margin: 1em;
  max-width: 20em;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 3px;
}

.contact-img {
  height: 4em;
  width:  4em;
  object-fit: cover;
}

.badge {
  margin: 1em;
  padding: 0.5em;
  display: inline-block;
  font-size: 0.8em;
  color: #fff;
  border-radius: 3px;
}

.badge-professional {
  background-color: var(--dark-color);
}

.badge-personal {
  background-color: var(--medium-color);
}

.contact-name {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 1em;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
